nav {
    display: flex;
    /* push the content to the left and right  */
    /* what are the options? */
    justify-content: space-between;

    /* will alight the left and right item veritically */
    align-items: center;

    background-color: #eee;
    padding: 15px;
}

nav ul {
    display: flex;

}

li {
    margin: 5px;
}

nav ul li {
    list-style: none;
}

nav ul li a:hover {
    text-transform: uppercase;
}


header {
    /*background-color: aqua;*/
    background-image: url("banner.jpg");
    background-size: cover;
    text-align: center;
    padding: 50px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: darkslategrey;
    text-align: center;
    color: white;
    padding: 10px 20px;
}

.cta-btn {
    background-color: blue;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: darkblue;
}

.about-container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 15px;
}


#about {
    background-color: #eee;
    padding: 20px 20px;
}

#about img {
    width: 100%;
}

#services {
    padding: 10px 20px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.services-box {
    display: grid;
    background-color: #eee;
    text-align: center;
    margin: 5px;
}

/* Tablet Design */
@media (max-width:768px) {
   
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        gap: 20px;
    }
   
}

/* Mobile Design */
@media (max-width:576px) {
  
    .services-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-row: auto ;
        gap: 5px;
    }

    #services {
        padding: 5px 0px;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: auto ;
        gap: 15px;
    }

    
   
}
